
.explore-container{
  display: flex;

}

.explore-posts{
  align-items:center;
  /* width: 90rem; */
  /* border: 2px solid; */
}

.home-posts{
  /* border: 2px solid; */
}

.post-container{
  border:2px solid;
  /* padding: 1.3rem; */
  /* margin: 2rem; */
  /* padding: 2em; */
  padding-bottom: 2rem;
  padding: 1rem;
}

.post-top-container{
  display: flex;
  align-items: center;
}
.user-profile{
  margin: 2px;
}

.profile-img{
height: 10vh;
}
.username{
  justify-content: center;
  align-items: center;
}

.likes-marks{
  display: flex;
  justify-content: space-between;
}

.likes{
  display: flex;
  gap: 1rem;
  /* justify-content: space-evenly;  */
}